// HomePage.module.scss
.container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100% // Высота вьюпорта, чтобы центрировать кнопки вертикально
  padding: 20px
  .homeH1
    text-align: center
    font-size: 1.8rem
.Linkbutton
  width: 100%
.button
  background-color: #3498db
  color: white
  border: none
  padding: 10px 20px
  margin: 10px 0
  cursor: pointer
  transition: background-color 0.3s
  width: 100% // Фиксированная ширина для всех кнопок
  font-size: 1.3rem

  &:hover
    background-color: #2980b9

.explanation
  text-align: center
.homeH2
  font-size: 23px
.homeImages
  display: flex
  gap: 10px // Adjust spacing between images as needed
  margin-top: 20px // Adjust the margin to suit your layout
  text-align: center

  img
    max-width: 100px
    max-height: 80px
