button
  cursor: pointer
.createListPageInputSave, .addButton, .btn, .createListPageInputSaveGreen, .addButtonGreen
  background-color: #3498db
  border: none
  padding: 3px
  border-radius: 5px
  color: #ffff
.addButton
  padding: 5px
  margin-top: 10px
.createListPageInputSaveGreen, .addButtonGreen
  background-color: #03c500
